<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
    function submitForm2(boolean) {
                    // Récupère la valeur de la barre de recherche
                    var searchQuery = document.querySelector('input[name="searchbar"]').value;
                    // Stocke la valeur de la recherche dans un objet de paramètres de l'URL
                    var searchParams = { searchbar: searchQuery };
                    // Crée une URL de recherche à partir des paramètres de l'URL
                    if (boolean === true) {
                        var searchUrl = new URL('/imo/' + searchParams, 'http://navire.sio');
                    } else {
                        var searchUrl = new URL('/mmsi/' + searchParams, 'http://navire.sio');
                    }
                    console.log(searchUrl);
                    searchUrl.search = new URLSearchParams(searchParams).toString();
                    // Redirige l'utilisateur vers la nouvelle URL de recherche
                    window.location = searchUrl;
    }
    function submitForm(boolean) {
        console.log("bonsoir");
                    var searchQuery = document.querySelector('input[name="searchbar"]').value;
                    if (boolean === true) {
                        window.location.href = "http://navire.sio/imo/" + searchQuery;
                    } else {
                        window.location.href = "http://navire.sio/mmsi/" + searchQuery;
                    }
    }
</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarColor01" style="">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Navires</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Navire 1</a>
            <a class="dropdown-item" href="#">Navire 2</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pays et Ports</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Pays 1</a>
            <a class="dropdown-item" href="#">Port 1</a>
          </div>
        </li>
      </ul>
      <link rel="icon" href="/assets/iconTitle.ico">
      <form class="d-flex">
    </div>
  </div>
  <input class="form-control me-sm-2" type="search" placeholder="Rechercher un navire" name="searchbar"> &nbsp;
    <button onclick="submitForm(true);" class="btn btn-secondary my-2 my-sm-0" type="submit" name="IMO">Cherche IMO</button> &nbsp;
    <button onclick="submitForm(false);" class="btn btn-secondary my-2 my-sm-0" type="submit" name="MMSI">Cherche MMSI</button> &nbsp;
  </form>
  <img src="{{ asset('assets/titleShip.png') }}">
</nav>