<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </head>
    <body>
        
        {% include 'elements/navbar.html.twig' %}
        
        {% block body %}
            <script type="text/javascript">
                // Map appearance
                var width="100%";         // width in pixels or percentage
                var height="700";         // height in pixels
                var latitude="0.00";      // center latitude (decimal degrees)
                var longitude="0.00";     // center longitude (decimal degrees)
                var zoom="3";             // initial zoom (between 3 and 18)
                var names=true;          // always show ship names (defaults to false)

                // Single ship tracking
                //var mmsi="563097900";     // display latest position (by MMSI)
                //var imo="9399349";        // display latest position (by IMO, overrides MMSI)
                var mmsi = null;
                var imo = {{ imoFromController }};
                //var show_track=false;     // display track line (last 24 hours)

                // Fleet tracking
                //var fleet="daa665c3f0660bc4343348f076b3da21"; // your personal Fleet key (displayed in your User Profile)
                //var fleet_name="Carnival"; // display particular fleet from your fleet list
                //var fleet_timespan="1440"; // maximum age in minutes of the displayed ship positions
                
                const searchBar = document.querySelector("input[type='search']");
                const searchIMO = document.querySelector("button[name='IMO']");
                const searchMMSI = document.querySelector("button[name='MMSI']");

                searchIMO.addEventListener('click', function() {
                  imo = searchBar.value;
                });
                
                searchMMSI.addEventListener('click', function() {
                  mmsi = searchBar.value;
                });
                
            </script>
            <script type="text/javascript" src="https://www.vesselfinder.com/aismap.js"></script>
            
            
        {% endblock %}
        
        {% include 'elements/footer.html.twig' %}
    </body>
</html>
